body {
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  color: #0e1041;
  @media (max-width: 575px) {
    font-size: 2rem;
  }
  @media (min-width: 576px) and (max-width: 991px) {
    font-size: 3rem;
  }
  @media (min-width: 992px) {
    font-size: 4rem;
  }
}

h5 {
  color: #0e1041;
}

.action-btn-primary {
  background-color: #f37320;
  color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #f37320;
  margin-bottom: 1rem;
}

.action-btn-primary:hover {
  background-color: #ffffff4d;
  color: #f37320;
  border: 1.5px solid #f37320;
}

.action-btn-secondary {
  background-color: #ffffff4d;
  color: #f37320;
  box-sizing: border-box;
  border: 1.5px solid #f37320;
  margin-bottom: 1rem;
}

.action-btn-secondary:hover {
  background-color: #f37320;
  color: #fff;
  border: 1.5px solid #f37320;
}

.modal-action-btn-primary {
  background-color: #f37320;
  color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #f37320;
  margin-bottom: 1rem;
}

.modal-action-btn-secondary {
  background-color: #ffffff4d;
  color: #f37320;
  box-sizing: border-box;
  border: 1.5px solid #f37320;
  margin-bottom: 1rem;
}

.modal-action-btn-primary:hover {
  background-color: #f37320;
  color: #fff;
  box-sizing: border-box;
  border: 1.5px solid #f37320;
  margin-bottom: 1rem;
}

.modal-action-btn-secondary:hover {
  background-color: #ffffff4d;
  color: #f37320;
  box-sizing: border-box;
  border: 1.5px solid #f37320;
  margin-bottom: 1rem;
}

.img-round {
  border-radius: 10px;
}

.rounded {
  border-radius: 10px !important;
}

.rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

p {
  margin-bottom: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.text-blue-1 {
  color: #0e1041;
}

.text-error {
  color: #ff5050;
}

.page-padding {
  padding-top: 70px;
}

/* Customized Toastify Styling */

.Toastify__progress-bar--error {
  background-color: #ff5050;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  color: #ff5050;
}
